<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Next</title>
</head>
<body>
  <header>
    <h1>Welcome to Project Next</h1>
  </header>
  <nav>
    {{#if loggedIn}}
    <a href="/">Home</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Find the right contractor for you!</h2>
    </aside>
    <div >
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/public/js/homeowner-logout.js"></script>
  {{/if}}
</body>
</html>