<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Next</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class = "header1">
      <div class = "headerheader">
      <h1 class="display-1">Welcome to Project Next</h1>
       </div>  
     </header>
      {{#if loggedIn}} 
      <nav class="nav">
        <a class="nav-link" href="/contractor">Contractors</a>  
        <a id="logout" class="nav-link">Logout</a>
         </nav>
      {{else}}
         <nav class="nav">
         <a class="nav-link" href="/">Login</a>
         </nav>
      {{/if}}


 
  <main>
    <aside class = "header2">
      <h2 class = "display-2">Find the right contractor for you!</h2>
    </aside>
    <div class = "body">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/homeowner-logout.js"></script>
  {{/if}}
</body>
</html>

