<div class="container">
  <div class="row gx-5">
    <div class="login-card">
      <h2 class="paige-title">Login</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login" placeholder="example@example.com" />
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" placeholder="Password"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
    </div>
    <div class="signup-card">
      <h2 class="paige-title">Signup</h2>
      <form class="form signup-form">
        <div class="form-group">
          <label for="email-signup">Email:</label>
          <input class="form-input" type="text" id="email-signup" placeholder="example@example.com"/>
        </div>
            <div class="form-group">
          <label for="name-signup">Full Name:</label>
          <input class="form-input" type="text" id="name-signup" placeholder="John Doe"/>
        </div>
        <div class="form-group">
          <label for="address-signup">Address:</label>
          <input class="form-input" type="text" id="address-signup" placeholder="1234 Candycane Lane"/>
        </div>
        <div class="form-group">
          <label for="city-signup">City:</label>
          <input class="form-input" type="text" id="city-signup" placeholder="Miami"/>
        </div>
        <div class="form-group">
          <label for="state-signup">State:</label>
          <input class="form-input" type="text" id="state-signup" placeholder="FL"/>
        </div>
        <div class="form-group">
          <label for="zip-signup">Zip:</label>
          <input class="form-input" type="text" id="zip-signup" placeholder="11223"/>
        </div>
        <div class="form-group">
          <label for="password-signup">Password:</label>
          <input class="form-input" type="password" id="password-signup" placeholder="Password"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/homeowner-login.js"></script>
<script src="/js/homeowner-signup.js"></script>