* {
    font-family: 'Open Sans', sans-serif;
}

.header1{
  background-image: url(/images/wood3.jpg);
  background-color:lightseagreen;
}

.headerheader{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 50px;
}

.Welcome{
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 5px;
}

.header2{
    display: flex;
    justify-content: center;
}

.display-1 {
    font-family: 'Rammetto One', cursive;
}

.display-2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(109, 106, 106);
    text-align: center;
}

.nav{
    display: flex;
    justify-content: flex-end;


}



.nav :hover {
    background-color: white;

}

.row {
   display: flex;
}

.login-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.signup-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.form-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.form-group {
    padding: .5%;
    background-color: whitesmoke;
    border-radius: 3px;
    
}

.login-form {
    box-shadow: gray 3px 3px 10px;
}

.signup-form {
    box-shadow: gray 3px 3px 10px;
}

.paige-title {
    color: rgb(109, 106, 106);
}

.btn{
    background-color: lightseagreen;
}
.nav-link{
    background-color: lightseagreen;
    text-decoration: none;
    color: black;
}

.nav-link :hover {
    background-color: darkgray;
}

.homeowner-card {
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: gray 5px 5px 10px;
    
}

.project-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.homeowner-header{
    font-size: xx-large;
    
}





.contractor-card {
    padding: 20px;
    background: whitesmoke;
    box-shadow: gray 3px 3px 10px;
    
}

.card-container {
    padding: 10px;
}

.contractor-header {
    font-weight: bold;
}