* {
    font-family: 'Merriweather', serif;
}

.header1{
  background-image: url(/images/wood3.jpg);
}

.headerheader{
    display: flex;
    justify-content: center;
}

.header2{
    display: flex;
    justify-content: center;
  }

.display-2{
    font-size: xx-large;
}

.nav{
    display: flex;
    justify-content: flex-end;
}

.row {
    display: inline;
}

.login-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



